<h1>Index</h1>
<% @articles.each do |article| %>
  <br>
  <%= article.title %>
  <br>
  <%= article.url %>
  <br>
  <%= article.author %>
  <br>

<% end %>

<%= link_to("New Article", new_article_path) %>
